*{
  mix-width: 800px;
}
body{
  margin: 0;
}
.area1{
  position: relative;
  outline: 1px solid #000;
  width: 100vw;
  height: 100vh;
  background-color: #f7b865;
  background-size: cover;
  background-position: center center;
}
.call{
  width: 400px;
  height: 180px;
  position: absolute;
  border: 10px solid #4087f9;
  background-color: #4087f9;
  left: -350px;
  top: 50px;
  border-radius: 0 15px 15px 0;
  opacity: 0.8;
  color: yellow;
}
.call{
  transition: 1s;
  left: 0px;
}
.head{
  position: relative;
  width: 200px;
  margin-left: 500px;
  margin-top: 50px;
}
.head2{
  position: relative;
  width: 200px;
  margin-left: 55px;
  top: 100px;
}
.head6{
  position: relative;
  width: 200px;
  margin-left: 55px;
  top: 150px;
}
.area2{
  position: relative;
  outline: 1px solid #000;
  width: 100vw;
  height: 100vh;
  background-color: #7a9eff;
  background-size: cover;
}
.call2{
  width: 400px;
  height: 250px;
  position: absolute;
  border: 10px solid #d8ba58;
  background-color: #d8ba58;
  left: -350px;
  top: 50px;
  border-radius: 0 15px 15px 0;
  opacity: 0.8;
  color: #071e5e;
}
.call2{
  transition: 1s;
  left: 0px;
}
.head3{
  width: 400px;
  margin-left: 540px;
  margin-top: 140px;
}
.area3{
  position: relative;
  outline: 1px solid #000;
  width: 100vw;
  height: 100vh;
  background-color: #f7b865;
  background-size: cover;
}
.call3{
  width: 400px;
  height: 173px;
  position: absolute;
  border: 10px solid #4087f9;
  background-color: #4087f9;
  left: -350px;
  top: 50px;
  border-radius: 0 15px 15px 0;
  opacity: 0.9;
  color: yellow;
}
.call3{
  transition: 1s;
  left: 0px;
}
.head4{
  width: 300px;
  margin-left: 580px;
  margin-top: 50px;
}
.area4{
  position: relative;
  outline: 1px solid #000;
  width: 100vw;
  height: 100vh;
  background-color: #4087f9;
  background-size: cover;
}
.call4{
  width: 400px;
  height: 90px;
  position: absolute;
  border: 10px solid #d8ba58;
  background-color: #d8ba58;
  left: -350px;
  top: 50px;
  border-radius: 0 15px 15px 0;
  opacity: 0.8;
  color: #071e5e;
}
.call4{
  transition: 1s;
  left: 0px;
}
.video{
  width: 500px;
  margin-left: 500px;
  margin-top: 170px;
}
.area5{position: relative;
  outline: 1px solid #000;
  width: 100vw;
  height: 100vh;
  background-color: #f7b865;
  background-size: cover;
}
.call5{
  width: 400px;
  height: 60px;
  position: absolute;
  border: 10px solid #4087f9;
  background-color: #4087f9;
  left: -350px;
  top: 50px;
  border-radius: 0 15px 15px 0;
  opacity: 0.9;
  color: yellow;
}
.call5{
  transition: 1s;
  left: 0px;
}
.head5{
  width: 300px;
  margin-left: 590px;
  margin-top: 50px;
}
.nav{
/* outline: 5px solid skyblue; */
  position: fixed;
  z-index: 1;
  width: 100vw;
}
.nav ul{
/*   outline: 3px solid violet;  */
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav ul li{
/*   outline: 1px solid purple; */
  width: 120px;
  display: inline-block;
}
.nav ul li a{
  text-decoration: none;
  background-color: #fff;
  color: #000;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.6;
}
.nav ul li a:hover{
  color: #fff;
  background-color: black;
}